
<div *ngIf="currentProvider">
    <div>
        <h1>New Event Feed</h1>
        <h4>Shows changes in patient’s vitals from wearable tracker data.</h4>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th>Patient</th>
            <th>Chart Notes</th>
            <th>Concern Level</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientAlert of currentProvider.patientAlerts">
            <td>{{ patientAlert.patient.name }}</td>
            <td>{{ patientAlert.notes }}</td>
            <td>{{ patientAlert.priority }}</td>
          </tr>
        </tbody>
      </table>
      
</div>

<div *ngIf="loading">
    <img src="../../assets/loading.gif">
</div>