<div>
    <h1>Patient Alerts</h1>
    <table>
        <thead>
            <tr>
                <th>Priority</th>
                <th>Patient</th>
                <th>Notes</th>
                <th>Send Notification</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patientAlert of currentProvider.patientAlerts">
                <td>{{ patientAlert.priority }}</td>
                <th>{{ patientAlert.patient.name }}</th>
                <th>{{ patientAlert.notes }}</th>
                <button>Send</button>
            </tr>
        </tbody>
    </table>
</div>
