
<div *ngIf="currentProvider">
    <div>
        <h1>New Event Feed</h1>
        <h4>Shows changes in patient’s vitals from wearable tracker data.</h4>
    </div>
    
    <table>
        <tbody>
            <tr *ngFor="let patientAlert of currentProvider.patientAlerts">
                <th>{{ patientAlert.patient.name }}, {{ patientAlert.notes }} </th>
                <th> Concern level: {{ patientAlert.priority }}</th>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="loading">
    <img src="../../assets/loading.gif">
</div>