.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.table thead {
  background-color: #f5f5f5;
}

.table thead th {
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #ddd;
  font-family: 'Poppins', sans-serif;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(even) {
  background-color: #fff;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}

h1, h4 {
  font-family: 'Poppins', sans-serif;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}



/* Add more CSS styles as needed to match your design preferences */
