<div class="main">
    <!-- Left Side -->
    <div class="vertical-layout nav">
        <!-- Top -->
        <div class="vertical-layout nav-child" style="display: flex; align-items: flex-end;">
            <img class="profile-pic" src="../../assets/billy.png"/>

            <div>
                <h3 class="center">Billy Bob Joe</h3>
                <p class="center">Physician</p>
            </div>
            
        </div>

        <!-- Middle -->
        <div class="vertical-layout nav-child" style="display: flex;">
            <div class="nav-card">
                <p>Home</p>
            </div>
            <div class="nav-card">
                <p>Patients</p>
            </div>
            <div class="nav-card">
                <p>Notice</p>
            </div>
            <div class="nav-card">
                <p>My Profile</p>
            </div>
        </div>

        <!-- Bottom -->
        <div class="vertical-child nav-child" style="display: block;">
            <p style="margin-bottom: 0px; margin-top:200%;">Settings</p>
        </div>
    </div>

    <!-- Right Side-->
    <div class="right-side">
        <div class="vertical-layout content">
            <!-- Top-->
            <div class="vertical-child search" id="searchBarDiv">
                <input id="searchBar" type="text" placeholder="Search Pages" #filter>
                <button id="searchBarButton" class="primary" type="button" (click)="searchResults(filter.value)">Search</button>
            </div>

            <!-- Bottom -->
            <div class="horizontal-layout vertical-child dashboard" style="width: 92%; margin: auto; border-radius: 50px; padding: 2%;">
                <!-- Left -->
                <div class="vertical-layout horizontal-child info-section">
                    <!-- Top -->
                    <div class="alert-dashboard vertical-child alert-feed-card">
                        <app-alert-table></app-alert-table>
                    </div>
    
                    <!-- Bottom -->
                    <div class="vertical-layout other-options vertical-child alert-feed-card">
                        <!-- Select a Patient Dropdown-->
                        <form #myForm="ngForm" class="form-container vertical-layout">
                            <div class="horizontal-layout">
                                <select id="selectPatient" name="selectedPatientId" [(ngModel)]="selectedPatientId" class="select-box">
                                    <option [ngValue]="0" disabled>Select a Patient</option>
                                    <option *ngFor="let patientAlert of currentProvider.patientAlerts" [value]="patientAlert.patient.id">
                                      {{ patientAlert.patient.name }}
                                    </option>
                                  </select>
                                
                                  <select id="selectTopic" name="selectedTopic" [(ngModel)]="selectedTopic" (change)="updateSelectedTopic($event)" class="select-box">
                                    <option [ngValue]="" disabled>Select a Topic</option>
                                    <option [ngValue]="'Blood Sugar'">Blood Sugar</option>
                                    <option [ngValue]="'Blood Pressure'">Blood Pressure</option>
                                    <option [ngValue]="'Sleeping Patterns'">Sleeping Patterns</option>
                                    <option [ngValue]="'Sleep Quality'">Sleep Quality</option>
                                    <option [ngValue]="'Activity Levels'">Activity Levels</option>
                                  </select>
                            </div>
                        
                            <textarea id="otherNotes" name="otherNotes" [(ngModel)]="otherNotes" placeholder="Other Things to Include" class="textarea-box vertical-child"></textarea>
                          </form>                          
                      
                      
                    <!-- Button one -->
                        <div class="notify-button horizontal-child">
                            <button (click)="onSend()">Send</button>
                        </div>
                    </div>
                </div>
    
                <!-- Right -->
                <div class="vertical-layout horizontal-child patient-section">
                    <div class="patient-table vertical-child card">
                        <app-patient-table [patients]="this.patients"></app-patient-table>
                    </div>
                    <button class="add-patient">Add Patient</button>
                </div>
            </div>
        </div>
    </div>
</div>