<style>
  body {
    font-family: 'Poppins', sans-serif;
  }

  /* Apply the Poppins font to specific elements */
  b, p, .field {
    font-family: 'Poppins', sans-serif;
  }

  /* Additional styles for specific elements */
  b {
    font-weight: bold;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* This creates a circular shape */
    object-fit: cover; /* This maintains the aspect ratio */
  }
</style>

<b>Patient Profiles</b>
<p>View Patient's Entire Chart</p>

<div class="card-container">
  <div class="card" *ngFor="let patient of patients">
    <div class="card-content horizontal-layout">
      <img class="profile-pic" src="../../assets/SBock_Portrait.png"/>  
      <p class="field">{{ patient.name }}</p>
      <p class="field">Patient</p>
    </div>
  </div>
</div>
