<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }

  /* Apply the Poppins font to specific elements */
  b, p, .field {
    font-family: 'Poppins', sans-serif;
  }

  /* Additional styles for specific elements */
  b {
    font-weight: bold;
  }
</style>

<b>Patient Profiles</b>
<p>View Patient's Entire Chart</p>

<div class="card-container">
  <div class="card" *ngFor="let patient of patients">
    <div class="card-content horizontal-layout">
        <p class="field">{{ patient.name }}</p>
        <p class="field">Patient</p>
    </div>
  </div>
</div>
